// image captions
img + em { 
display: block; text-align: center;
}
// serach bar
form.search{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 46px;
    height: 22px;
    background: white;
    box-sizing: border-box;
    border-radius: 20px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 32px;
    line-height: 28px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 18px;
    padding: 0 12px;
}

.fa.fa-search{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover {
    width: 180px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: white;
    color:  $red;
}

//table-wrapper
.table-wrapper {
  overflow-x:auto;
}
// table css from github style: https://gist.github.com/andyferra/2554919
table {
  padding: 0; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
// Buttons
%btnextend {
	display: inline-block;
	border: 1px solid;
	border-color: rgba($color_mercury,0.5) rgba($color_bon_jour,0.5) $color_mischka;
	border-radius: 3px;
	text-decoration: none;
	background: $white;
	color: $color_shark;
	&:hover {
		box-shadow: 0 0 1px 0 rgba($color_shark,0.5);
		color: $red;
	}
}
.social-btn {
	padding: 10px;
	margin: 10px;
	@extend %btnextend;
}
.btn {
	padding: 10px 16px;
	@include font-rem(14);
	margin: 2px auto;
	@extend %btnextend;
	&.btn-success {
      background-color: $success;
      color: $white;
      border-color: $success;
      &:visited {
        color: $white;
      }
      &:hover {
        background-color: $white;
        color: $success;
      }
    }
    &.btn-warning {
      background-color: $warning;
      color: $white;
      border-color: $warning;
      &:visited {
        color: $white;
      }
      &:hover {
        background-color: $white;
        color: $warning;
      }
    }
    &.btn-danger {
      background-color: $danger;
      color: $white;
      border-color: $danger;
      &:visited {
        color: $white;
      }
      &:hover {
        background-color: $white;
        color: $danger;
      }
    }
    &.btn-info {
      background-color: $info;
      color: $white;
      border-color: $info;
      &:visited {
        color: $white;
      }
      &:hover {
        background-color: $white;
        color: $info;
      }
    }
}
.title .btn {
    margin: 10px;
    @include font-rem(16);
    font-weight:300;
}
.post-list {
    .btn {
        @include font-rem(14);
    }
}

// hr break
hr {
	border: 0;
	height: 1px;
	opacity: .8;
    margin: 1em 0;
	background-image: -webkit-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
	background-image: -moz-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
	background-image: -ms-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
	background-image: -o-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
	&.hr-line {
		border: 0;
		height: 1px;
		opacity: .15;
		margin: 1em 0;
		background-image: -webkit-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
		background-image: -moz-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
		background-image: -ms-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
		background-image: -o-linear-gradient(left, $color_gallery, $color_stack, $color_gallery);
	}
}

// images and figures
img {
    display: block;
	max-width: 100%;
    //width: auto;
    //height: auto;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
}
.img-circle {
	border-radius: 50%;
	border: 3px solid $white;
	height: 150px;
	width: 150px;
}
.author-photo {
    background-color: $white;
}
.image-right {
    float: right;
    margin-left: 1em;
    margin-top: 0;
}
figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  @include clearfix();
  img {
    margin-bottom: 10px;
    @include rounded(4px);
  }
  &.half {
    @media only screen and (min-width: 62.5em) {
      img {
        width: calc(50% - 4px);
        float: left;
        margin-left: 1px;
        margin-right: 1px;
      }
      figcaption {
        clear: left;
      }
    }
  }
  &.third {
    @media only screen and (min-width: 62.5em) {
      img {
        width: calc(33.3% - 6px);
        float: left;
        margin-left: 1px;
        margin-right: 1px;
      }
      figcaption {
        clear: left;
      }
    }
  }
}
svg:not(:root) {
  overflow: hidden; 
}

// keyboard tag
kbd {
	display: inline-block;
	margin: 0 1px;
	padding: 1px 8px;
	@include font-rem(10);
	font-weight: bold;
	color: $color_fuscous_gray;
	vertical-align: middle;
	background-color: $color_alabaster;
	border: solid 1px $color_celeste;
	border-bottom-color: $color_pink_swan;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 $color_pink_swan;
}

// go up button
.goup-container {
    border-radius: 3px !important;
    border-color: rgba($color_mercury,0.5) rgba($color_bon_jour,0.5) $color_mischka !important;
    border: 1px solid;
	@media #{$small} {
		display: none !important;
	}
}
.goup-arrow {
    border-color: transparent transparent $color_tuatara !important;
}

// reading time
.reading-time {
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
}
